<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <img src="profile-picture.png">
    </div>
    <mat-card-title>{{ currentUser.firstName }} {{ currentUser.lastName }}</mat-card-title>
    <mat-card-subtitle>Age: {{ currentUser.age }}</mat-card-subtitle>
    <mat-card-subtitle>Gender: {{ currentUser.gender }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>Experience: {{ currentUser.level }}</p>
    <p>Tech Stack:</p>
    <ul>
      <li *ngFor="let tech of currentUser.techStack">{{ tech.techStack }}</li>
    </ul>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="editMode()">Edit Profile</button>
  </mat-card-actions>
</mat-card>
