<mat-toolbar class=" fixed bottom-0 left-1/2 -translate-x-1/2 max-w-7xl" color="primary">
  <footer class="flex justify-around mx-auto gap-x-4 ">
    <div class="h5">
      &copy; Nikolay Lulchev {{date}}. All rights reserved.
    </div>
    <div class="flex gap-x-4">
      <a href="https://github.com/NikolaiLulchev" rel="noopener" target="_blank">
        <fa-icon [icon]="faGithub"></fa-icon>
      </a>
      <a href="https://www.linkedin.com/in/nikolay-lulchev-4ab442133/" rel="noopener" target="_blank">
        <fa-icon [icon]="faLinkedin"></fa-icon>
      </a>
    </div>
  </footer>
</mat-toolbar>
