<mat-card>
  <mat-card-content>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
      <h2>Log In</h2>
      <mat-error *ngIf="!loginValid">
        The username and password were not recognized
      </mat-error>
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input [(ngModel)]="username" [maxlength]="20" [minlength]="4" matInput name="username" required>
        <mat-error>
          Please provide a valid username
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input [(ngModel)]="password" [minlength]="4" matInput name="password" required type="password">
        <mat-error>
          Please provide a valid password
        </mat-error>
      </mat-form-field>
      <button [disabled]="!loginForm.form.valid" color="primary" mat-raised-button>Login</button>
    </form>
  </mat-card-content>
</mat-card>
