<mat-card>
  <mat-card-content>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <h2>Register</h2>
      <mat-error *ngIf="!registerForm">
        The username and password were not recognized
      </mat-error>
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" required [minlength]="4" [maxlength]="20">
        <mat-error>
          Please provide a valid username between 4 and 20 symbols
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" required [minlength]="2" [maxlength]="20">
        <mat-error>
          Please provide a valid first name between 2 and 20 symbols
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" required [minlength]="2" [maxlength]="20">
        <mat-error>
          Please provide a valid last name between 2 and 20 symbols
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required email>
        <mat-error>
          Please provide a valid email
        </mat-error>
      </mat-form-field>
      <ng-container formGroupName="pass">
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" required [minlength]="4">
        <mat-error>
          Please provide password. Minimum 4 symbols.
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Repeat Password</mat-label>
        <input matInput type="password" formControlName="rePassword" required>
        <mat-error *ngIf="registerForm.get('pass')?.errors?.['sameValueGroupValidator']">
          Please provide a valid password
        </mat-error>
      </mat-form-field>
      </ng-container>

      <mat-form-field appearance="fill">
        <mat-label>I'm here to</mat-label>
        <mat-select formControlName="role" required>
          <mat-option [value]="'USER'" > find a job</mat-option>
          <mat-option [value]="'EMPLOYER'">offer a job</mat-option>
        </mat-select>
        <mat-error>
          Please select one
        </mat-error>
      </mat-form-field>

      <div>
        <button mat-raised-button color="primary" [disabled]="registerForm.invalid">Register</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
