<mat-toolbar color="primary" class="justify-between fixed z-50 top-0 left-1/2 -translate-x-1/2 max-w-7xl">
  <div><a routerLink="home">Welcome to DevBase</a></div>
  <div class="flex gap-x-4">
    <a routerLink="offers">Offers</a>
    <a routerLink="offers/add">Add Offer</a>
    <a routerLink="admin-panel">Admin Panel</a>
    <a routerLink="users/profile">Profile</a>
    <a routerLink="users/login">Login</a>
    <a href="javascript:void(0);" (click)="logoutHandler()">Logout</a>
    <a routerLink="users/register">Register</a></div>
</mat-toolbar>
