<div class="mat-card-grid max-w-7xl mx-auto" *ngIf="jobs?.length > 0">

  <mat-paginator
    [length]="jobs.length"
    [pageSize]="pageSize"
    [pageIndex]="currentPageIndex"
    (page)="onPageChange($event)"
    hidePageSize
    showFirstLastButtons
  ></mat-paginator>

<!--  <form>-->
<!--    <mat-form-field>-->
<!--      <mat-label>Location</mat-label>-->
<!--      <mat-select [(ngModel)]="location" name="location" [value]="''">-->
<!--        <mat-option>No filter</mat-option>-->
<!--        <mat-option *ngFor="let location of locations | keyvalue" [value]="location.key">-->
<!--          {{ location.value }}-->
<!--        </mat-option>-->
<!--      </mat-select>-->
<!--    </mat-form-field>-->
<!--    <mat-form-field >-->
<!--      <mat-label>Position</mat-label>-->
<!--      <mat-select [(ngModel)]="position" name="position" [value]="''">-->
<!--        <mat-option>No filter</mat-option>-->
<!--        <mat-option *ngFor="let position of positions | keyvalue" [value]="position.key">-->
<!--          {{ position.value }}-->
<!--        </mat-option>-->
<!--      </mat-select>-->
<!--    </mat-form-field>-->
<!--    <mat-form-field >-->
<!--      <mat-label>Level</mat-label>-->
<!--      <mat-select [(ngModel)]="level" name="level" [value]="''">-->
<!--        <mat-option>No filter</mat-option>-->
<!--        <mat-option *ngFor="let level of levels | keyvalue" [value]="level.key">-->
<!--          {{ level.value }}-->
<!--        </mat-option>-->
<!--      </mat-select>-->
<!--    </mat-form-field>-->
<!--    <button mat-raised-button color="primary" (click)="filterOffers()" type="submit">Filter</button>-->
<!--  </form>-->

  <mat-grid-list cols="3">
    <mat-grid-tile *ngFor="let job of jobs.slice(currentPageIndex * pageSize, (currentPageIndex + 1) * pageSize)">
      <mat-card class="mat-card">
        <mat-card-header>
          <mat-card-title>{{job.position}}</mat-card-title>
          <mat-card-subtitle>{{job.title}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Location: {{job.location}}</p>
          <p>Company: {{job.companyName}}</p>
          <p>Added On: {{job.addedOn | date}}</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <p *ngIf="jobs.length === 0">No results found.</p>

</div>

