<div class="mat-card-grid max-w-7xl mx-auto" *ngIf="jobs.length > 0">

    <mat-paginator
      [length]="jobs.length"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      (page)="pageIndex = $event.pageIndex; pageSize = $event.pageSize"
      hidePageSize
    ></mat-paginator>

  <mat-grid-list cols="3">
    <mat-grid-tile *ngFor="let job of jobs.slice(pageIndex * pageSize, (pageIndex + 1) * pageSize)">
      <mat-card class="mat-card">
        <mat-card-header>
          <mat-card-title>{{job.position}}</mat-card-title>
          <mat-card-subtitle>{{job.title}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Location: {{job.location}}</p>
          <p>Company: {{job.companyName}}</p>
          <p>Added On: {{job.addedOn | date}}</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <p *ngIf="jobs.length === 0">No results found.</p>

</div>

